<a href="https://colab.research.google.com/github/hojoooon/py09/blob/master/ch5_exercises_py09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ch5_exercises.ipynb

## Q1.
> 다음은 Calculator 클래스이다.

```
class Calculator:
    def __init__(self):
        self.value = 0

    def add(self, val):
        self.value += val
```
---
> 위 클래스를 상속하는 UpgradeCalculator를 만들고 값을 뺄 수 있는 minus 메서드를 추가해 보자. 
>> 즉 다음과 같이 동작하는 클래스를 만들어야 한다.
```
cal = UpgradeCalculator()
cal.add(10)
cal.minus(7)
print(cal.value) # 10에서 7을 뺀 3을 출력
```

In [5]:
# [Q1] Code  
class Calculator:
    def __init__(self):
        self.value = 0
 
    def add(self, val):
        self.value += val

class UpgradeCalculator(Calculator):
  def minus(self,val):
    self.value -= val

cal = UpgradeCalculator()
cal.add(10)
cal.minus(7)
print(cal.value) # 10에서 7을 뺀 3을 출력

3

## Q2.
> 객체변수 value가 100 이상의 값은 가질 수 없도록 제한하는 MaxLimitCalculator 클래스를 만들어 보자. 
>> 즉 다음과 같이 동작해야 한다.
```
cal = MaxLimitCalculator()
cal.add(50) # 50 더하기
cal.add(60) # 60 더하기
print(cal.value) # 100 출력
```
>> 단 반드시 다음과 같은 Calculator 클래스를 상속해서 만들어야 한다.
```
class Calculator:
    def __init__(self):
        self.value = 0
    def add(self, val):
        self.value += val
```

In [6]:
# [Q2] Code
class Calculator:
    def __init__(self):
        self.value = 0
    def add(self, val):
        self.value += val
class MaxLimitCalculator(Calculator):
  def add(self, val):
    self.value += val
    if self.value > 100:
      self.value = 100

cal = MaxLimitCalculator()
cal.add(50) # 50 더하기
cal.add(60) # 60 더하기
print(cal.value) # 100 출력

100

## Q3.
> 다음 결과를 예측해 보자.

- 하나.
```
all([1, 2, abs(-3)-3])
```

- 둘.
```
chr(ord('a')) == 'a'
```

In [7]:
# [Q3] Code
all([1, 2, abs(-3)-3])
# abs(-3)은 3이므로 3-3=0, 리스트 요솟값 중 0이 있으므로 결과는 False입니다.

False

In [8]:
chr(ord('a')) == 'a'
# 'a'의 아스키코드는 97이므로 ord('a')의 결과는 97입니다. chr(97)의 결과는 'a'이므로 결과는 True입니다.

True

## Q4.
> filter와 lambda를 사용하여 리스트 [1, -2, 3, -5, 8, -3]에서 음수를 모두 제거해 보자.

In [9]:
# [Q4] Code
list(filter(lambda x:x>0,  [1, -2, 3, -5, 8, -3]))
# 위의 filter의 함수를 0보다 큰 수만 반환하도록 설정했습니다.

[1, 3, 8]

## Q5.
> 234라는 10진수의 16진수는 다음과 같이 구할 수 있다.
```
hex(234)
'0xea'
```
> 이번에는 반대로 16진수 문자열 0xea를 10진수로 변경해 보자.
>>※ 내장 함수 int를 활용해 보자.

In [11]:
# [Q5] Code
int('0xea', 16)

234

## Q6.
> map과 lambda를 사용하여 [1, 2, 3, 4] 리스트의 각 요솟값에 3이 곱해진 리스트 [3, 6, 9, 12]를 만들어 보자.

In [12]:
# [Q6] Code
list(map(lambda x:x*3, [1, 2, 3, 4]))

[3, 6, 9, 12]

## Q7.
> 다음 리스트의 최댓값과 최솟값의 합을 구해 보자.
>> [-8, 2, 7, 5, -3, 5, 0, 1]

In [13]:
# [Q7] Code
a = [-8, 2, 7, 5, -3, 5, 0, 1]
max(a) + min(a)
# max는 최댓값, min은 최솟값입니다.

-1

## Q8.
> 17 / 3의 결과는 다음과 같다.
```
17 / 3
5.666666666666667
```
> 위와 같은 결괏값 5.666666666666667을 소숫점 4자리까지만 반올림하여 표시해 보자.

In [14]:
# [Q8] Code-1
round(17/3, 4) # round함수

5.6667

In [23]:
# Code-2
num=17/3
print("%.4f"%num) # 문자열 포매팅

5.6667

## Q9.
> 다음과 같이 실행할 때 입력값을 모두 더하여 출력하는 스크립트

> (C:\doit\myargv.py)를 작성해 보자.
```
C:\> cd doit
C:\doit> python myargv.py 1 2 3 4 5 6 7 8 9 10
55
```
>> ※ 외장 함수 sys.argv를 사용해 보자.

In [46]:
C:\> cd doit

SyntaxError: ignored

## Q10.
> os 모듈을 사용하여 다음과 같이 동작하도록 코드를 작성해 보자.

1. ./doit 디렉터리로 이동한다.
2. dir 명령을 실행하고 그 결과를 변수에 담는다.
3. dir 명령의 결과를 출력한다.

In [0]:
# [Q10] Code

## Q11.
> glob 모듈을 사용하여 ./doit 디렉터리의 파일 중 확장자가 .py인 파일만 출력하는 프로그램을 작성해 보자.

In [40]:
# [Q11] Code
import glob
glob.glob("c:/doit/*.py")
['c:/doit/doit01.py', 'c:/doit/test.py']

['c:/doit/doit01.py', 'c:/doit/test.py']

## Q12.
> time 모듈을 사용하여 현재 날짜와 시간을 다음과 같은 형식으로 출력해 보자.

- 2018/04/03 17:20:32

In [44]:
# [Q12] Code
import time
time.strftime("%Y/%m/%d %H:%M:%S") # 연/월/일 시:분:초

'2020/06/11 15:25:44'

## Q13.
> random 모듈을 사용하여 로또 번호(1~45 사이의 숫자 6개)를 생성해 보자(단 중복된 숫자가 있으면 안 됨).

In [45]:
# [Q13] Code
import random # random 모듈

result = []
while len(result) < 6: # 숫자 6개
  num = random.randint(1, 45) #로또 번호(1~45)
  if num not in result:
    result.append(num)

print(result)

[28, 12, 31, 7, 27, 22]

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. github repo에 연습결과 노트를 올리시오.
        - 제출노트: ch5_exercises_id.ipynb