<a href="https://colab.research.google.com/github/hojoooon/py09/blob/master/ch8_exercises_py09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ch8_exercises.ipynb

Q1. 문자열 바꾸기
> 다음과 같은 문자열이 있다.

```
a:b:c:d
```

> 문자열의 split와 join 함수를 사용하여 위 문자열을 다음과 같이 고치시오.

```
a#b#c#d
```

In [ ]:
# [Q1] Code-1 
a = "a:b:c:d"
"#".join(a.split(':')) # :기호를 기준으로 나눈 문자열에 #기호 삽입

'a#b#c#d'

In [ ]:
# [Q1] Code-2
a = "a:b:c:d"
a.replace(":","#") # :기호를 #기호로 치환

'a#b#c#d'

## Q2. 딕셔너리 값 추출하기
> 다음은 딕셔너리의 a에서 'C'라는 key에 해당하는 value를 출력하는 프로그램이다.
```
>>> a = {'A':90, 'B':80}
>>> a['C']
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
KeyError: 'C'
```
>> a 딕셔너리에는 'C'라는 key가 없으므로 위와 같은 오류가 발생한다.  
>>'C'에 해당하는 key 값이 없을 경우 오류 대신 70을 얻을 수 있도록 수정하시오.

In [ ]:
# [Q2] Code-1
>>> a = {'A':90, 'B':80}
>>> a.get('C', '70') # 디폴트 값을 70으로 지정

'70'

In [ ]:
# [Q2] Code-2
a = {'A':90, 'B':80}
'C' in a
if {}:
  print("1")
else: # false 일때
  print("70") # 70출력

70

## Q3. 리스트의 더하기와 extend 함수
> 다음과 같은 리스트 a가 있다.
```
a = [1, 2, 3]
```
> 리스트 a에 [4, 5]를 + 기호를 사용하여 더한 결과는 다음과 같다.
```
>>> a = [1, 2, 3]
>>> a = a + [4,5]
>>> a
[1, 2, 3, 4, 5]
```
> 리스트 a에 [4,5]를 extend를 사용하여 더한 결과는 다음과 같다.
```
>>> a = [1, 2, 3]
>>> a.extend([4, 5])
>>> a
[1, 2, 3, 4, 5]
```

> ### + 기호를 사용하여 더한 것과 extend한 것의 차이점이 있을까? 있다면 그 차이점을 설명하시오.

In [77]:
# [Q3] Explain (코드와 주석으로 설명하시오)
a = [1,2,3]
id(a)

140065535420744

In [81]:
a+[4,5]
a, id(a) # 주소 값이 변함(140065535420744->140065535399176)

([1, 2, 3, 4, 5], 140065535399176)

In [85]:
a = [1,2,3]
id(a)

140065535421896

In [86]:
a.extend([4,5])
a , id(a) # 주소 값이 변하지 않음

([1, 2, 3, 4, 5], 140065535421896)

## Q4. 리스트 총합 구하기
> 다음은 A학급 학생의 점수를 나타내는 리스트이다. 다음 리스트에서 50점 이상 점수의 총합을 구하시오.
```
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
```

In [ ]:
# [Q4] Code-1
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
result = [num for num in A if num >= 50] # 50이상인 수 분류
total = 0
for num in result:
  total += num # 분류한 수들의 총합
print(total)

481

In [ ]:
# [Q4] Code-2
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
result = 0
while A:
  num = A.pop() # A리스트에서 숫자하나씩 빼오기
  if num >= 50: # 빼온 수가 50이 넘는지 검사
    result += num # 통과된 수만 더하기
print(result)

481

## Q5. 피보나치 함수
> 첫 번째 항의 값이 0이고 두 번째 항의 값이 1일 때, 이후에 이어지는 항은 이전의 두 항을 더한 값으로 이루어지는 수열을 피보나치 수열이라고 한다.
```
0, 1, 1, 2, 3, 5, 8, 13, 21, ...
```
> 입력을 정수 n으로 받았을 때, n 이하까지의 피보나치 수열을 출력하는 함수를 작성해 보자.

In [ ]:
# [Q5] Code-1
def num(n):
  if n == 0 : return 0 # n이 0일땐 0반환
  if n == 1 : return 1 # n이 1일땐 1반환
  return num(n-2) + num(n-1) #피보나치 함수

a = int(input('숫자를 입력하세요: ')) #입력 받기:문자열을 숫자로 변환

for i in range(a):
  print(num(i)) #결과 출력

숫자를 입력하세요: 5
0
1
1
2
3

In [ ]:
# [Q5] Code-2
def num(n):
  if n == 0 : return 0
  if n == 1 : return 1
  return num(n-2) + num(n-1) #피보나치 함수

for i in range(5): # 5번째 까지의 피보나치 수열 출력
  print(num(i))

0
1
1
2
3

## Q6. 숫자의 총합 구하기
> 사용자로부터 다음과 같은 숫자를 입력받아 입력받은 숫자의 총합을 구하는 프로그램을 작성하시오. (단 숫자는 콤마로 구분하여 입력한다.)

```
65,45,2,3,45,8
```

In [ ]:
# [Q6] Code-1
user_input = input("숫자를 입력하세요:") # 입력값 받기
num = user_input.split(",") # 받은 입력값을 ,로 구분
total = 0
for n in num:
  total += int(n) # 문자열인 받은 입력값을 숫자로 변환
print(total)

숫자를 입력하세요:65,45,2,3,45,8
168

In [ ]:
# [Q6] Code-2
user_input = input("숫자를 입력하세요: ")
num = user_input.split(",")

def result(num,total=0):
  for a in num:
    total += int(a)
  return total

print(result(num))

숫자를 입력하세요: 65,45,2,3,45,8
168

## Q7. 한 줄 구구단
> 사용자로부터 2~9의 숫자 중 하나를 입력받아 해당 숫자의 구구단을 한 줄로 출력하는 프로그램을 작성하시오.

> 실행 예)
```
구구단을 출력할 숫자를 입력하세요(2~9): 2
2 4 6 8 10 12 14 16 18
```

In [ ]:
# [Q7] Code-1
user_input = input("구구단을 출려갈 숫자를 입력하세요(2~9): ") # 입력 받기
num = int(user_input) # 문자열을 숫자로 변환
for i in range(1,10): # 1~9
  print(i*num, end=' ') # 한 줄로 출력하기 위해 마지막에 공백 문자 출력

구구단을 출려갈 숫자를 입력하세요(2~9): 9
9 18 27 36 45 54 63 72 81

In [ ]:
# [Q7] Code-2
user_input = input("구구단을 출력할 숫자를 입력하세요(2~9):")
num = int(user_input) 

def result(num):
    for n in range(1,10):
        print(f'{num * n}',end=' ')

result(num)

구구단을 출력할 숫자를 입력하세요(2~9):9
9 18 27 36 45 54 63 72 81

## Q8. 역순 저장
> 다음과 같은 내용의 파일 abc.txt가 있다.
```
AAA
BBB
CCC
DDD
EEE
```
> 이 파일의 내용을 다음과 같이 역순으로 바꾸어 저장하시오.
```
EEE
DDD
CCC
BBB
AAA
```

In [ ]:
# [Q8] Code-1
f = open('abc.txt', 'r')
lines = f.readlines()      # 모든 라인 읽기
f.close()                 

lines.reverse()            # 읽은 라인 역순정렬

f = open('abc.txt', 'w')   # abc.txt파일 열기
for line in lines:
    line = line.strip()    #줄 바꿈 문자 제거
    f.write(line)
    f.write('\n')          
f.close()

결과 : 

EEE\
DDD\
CCC\
BBB\
AAA

In [3]:
# [Q8] Code-2
f = open('abc.txt', 'r')
lines = f.readlines()     # 모든 라인 읽기
f.close()

for lines in reversed(open("abc.txt").readlines()): #읽은 라인 뒤집기
  print(lines.rstrip())   # 출력하기

EEE
DDD
CCC
BBB
AAA

## Q9. 평균값 구하기
> 다음과 같이 총 10줄로 이루어진 sample.txt 파일이 있다. sample.txt 파일의 숫자 값을 모두 읽어 총합과 평균 값을 구한 후 평균 값을 result.txt 파일에 쓰는 프로그램을 작성하시오.
```
70
60
55
75
95
90
80
80
85
100
```

In [12]:
# [Q9] Code-1
f = open("sample.txt")
lines = f.readlines()
f.close()

total = 0
for line in lines:
  score = int(line)
  total += score
average = total / len(lines)

f = open("result.txt", "w")
f.write(str(average))
f.close()

for lines in (open("result.txt").readlines()):
  print(lines)

79.0

In [13]:
# [Q9] Code-2
f= open("sample.txt")
lines = f.readlines()
f.close()

total = 0
for i in lines:
  total = total + float(i)
average = total/len(lines)

f = open('result2.txt', 'w')
f.write(str(average))
f.close()

for lines in (open("result2.txt").readlines()):
  print(lines)

79.0

## Q10. 사칙연산 계산기
> 다음과 같이 동작하는 클래스 Calculator를 작성하시오.
```
>>> cal1 = Calculator([1,2,3,4,5])
>>> cal1.sum() # 합계
15
>>> cal1.avg() # 평균
3.0
>>> cal2 = Calculator([6,7,8,9,10])
>>> cal2.sum() # 합계
40
>>> cal2.avg() # 평균
8.0
```

In [15]:
# [Q10] Code-1
class Calculator:  # 클래스 지정
  def __init__(self, numberList):
    self.numberList = numberList

  def add(self):  # 합계 계산식
    result = 0
    for num in self.numberList:
      result += num
    return result

  def avg(self):   # 평균 계산식
    total = self.add() 
    return total / len(self.numberList)  # 리스트의 합계/ 리스트의 길이

cal1 = Calculator([1,2,3,4,5])
print (cal1.add())  # cal1 합계
print (cal1.avg())  # cal1 평균

cal2 = Calculator([6,7,8,9,10])
print (cal2.add())  # cal2 합계
print (cal2.avg())  # cal2 평균

15
3.0
40
8.0

In [88]:
# [Q10] Code-2
class Calculator:
    def __init__ (self, number): 
        self.number = number
        
    def add(self):  # 합계
        result = 0
        for num in self.number: 
            result += num
        return result

class Average(Calculator):
    def avg(self):   # 평균
        total = self.add()
        return total / len(self.number)



cal1 = Average([1,2,3,4,5]) 
print (cal1.add())
print (cal1.avg())

cal2 = Average([6,7,8,9,10]) 
print (cal2.add())
print (cal2.avg())

15
3.0
40
8.0



---

## Q11. 모듈 사용 방법
> ./doit 디렉터리에 mymod.py 파이썬 모듈이 있다고 가정해 보자. 명령 프롬프트 창에서 파이썬 셸을 열어 이 모듈을 import해서 사용할 수 있는 방법을 모두 기술하시오. (즉 다음과 같이 import mymod를 수행할 때 오류가 없어야 한다.)
```
>>> import mymod
>>>
```

In [16]:
!mkdir doit
# 실행 후 새로 고침!
# mymod.py 를 업로드한다.

In [17]:
!mv mymod.py ./doit
# 실행 후 새로 고침!

In [29]:
# [Q11] Code-1
import sys #sys모듈 이용
sys.path.append("c:/doit")
import mymod

In [34]:
# [Q11] Code-2
C:\Users\home>cd c:\doit
C:\doit>python
import mymod2

SyntaxError: ignored

## Q12. 오류와 예외 처리
> 다음 코드의 실행 결과를 예측하고 그 이유에 대해 설명하시오.

```
result = 0

try:
    [1, 2, 3][3]
    "a"+1
    4 / 0
except TypeError:
    result += 1
except ZeroDivisionError:
    result += 2
except IndexError:
    result += 3
finally:
    result += 4

print(result)
```

In [35]:
# [Q12] Explain (코드와 주석으로 설명하시오)
result = 0
 
try:
    [1, 2, 3][3] # IndexError발생 -> result에 3이 더해짐. 여기까지의 결과:3 
    "a"+1
    4 / 0
except TypeError:
    result += 1
except ZeroDivisionError:
    result += 2
except IndexError:
    result += 3
finally:        # finally실행 -> 4가 더해짐.
    result += 4
 
print(result)  # 3 + 4 = 7이므로 출력되는 결과는 7이다.

7

## Q13. DashInsert 함수
> DashInsert 함수는 숫자로 구성된 문자열을 입력받은 뒤 문자열 안에서 홀수가 연속되면 두 수 사이에 - 를 추가하고, 짝수가 연속되면 * 를 추가하는 기능을 갖고 있다. DashInsert 함수를 완성하시오.
```
입력 예시: 4546793
출력 예시: 454*67-9-3
```

In [74]:
# [Q13] Code-1
data = "4546793"
numbers = list(map(int, data)) # 문자열을 리스트로 변경
result = []

for i, num in enumerate(numbers):
  result.append(str(num))
  if i < len(numbers)-1:                # 다음 수가 있음
    is_odd = num% 2 == 1                # 현재 수는 홀수
    is_next_odd = numbers[i+1] % 2 == 1 # 다음 수가 홀수
    if is_odd and is_next_odd:          # 연속 홀수
      result.append("-")
    elif not is_odd and not is_next_odd:# 연속 짝수
      result.append("*")

print("".join(result))

454*67-9-3

In [76]:
# [Q13] Code-2
number = input("숫자를 입력해주세요: ")

result = number[0]
for a,b in zip(number[0:], number[1:]): 
    if int(a)%2 == 0 and int(b)%2 == 0:    # 연속 짝수
        result += '*' + b
    elif int(a)%2 == 1 and int(b)%2 == 1:  # 연속 홀수
        result += '-' + b
    else:
        result += b                        #홀수짝수, 짝수홀수

print(result)

숫자를 입력해주세요: 4546793
454*67-9-3

## Q14. 문자열 압축하기
> 문자열을 입력받아 같은 문자가 연속적으로 반복되는 경우에 그 반복 횟수를 표시해 문자열을 압축하여 표시하시오.
```
입력 예시: aaabbcccccca
출력 예시: a3b2c6a1
```

In [47]:
# [Q14] Code-1
def compress_string(s):
  _c = ""
  cnt = 0
  result = ""
  for c in s:
    if c!=_c:
      _c = c
      if cnt: result += str(cnt)
      result += c
      cnt = 1
    else:
      cnt +=1
  if cnt: result += str(cnt)
  return result

print(compress_string("aaabbcccccca"))

a3b2c6a1

In [72]:
# [Q14] Code-2
def compress(a):
  c = ""
  count = 0
  result = ""
  for i in a:
    if i!=c:  
      c = i
      if count: result += str(count)
      result += i
      count = 1
    else:
      count += 1
  if count: result += str(count)
  return result          # 이전 문자와 같으면 1증가 아니면 1로 초기화하는 함수

compress("aaabbcccccca")

'a3b2c6a1'

## Q15. Duplicate Numbers
> 0 ~ 9의 문자로 된 숫자를 입력받았을 때, 이 입력값이 0 ~ 9의 모든 숫자를 각각 한 번씩만 사용한 것인지 확인하는 함수를 작성하시오.
```
입력 예시: 0123456789 01234 01234567890 6789012345 012322456789
출력 예시: true false false true false
```

In [48]:
# [Q15] Code-1
def num(s):
  result = []  # 리스트 자료형 사용
  for i in s:      
    if i not in result:  # 중복된 수가 없는지 검사
      result.append(num)  
    else:
      return False  
  return len(result) == 10  # 0~9는 10개의 수, 10이면 True 아니면 False출력 

print(num("0123456789"))
print(num("01234"))
print(num("01234567890"))
print(num("6789012345"))
print(num("012322456789"))

True
False
False
True
False

In [73]:
# [Q15] Code-2
def number(num):
    for i in range(10):
        if num.count(str(i)) != 1:
            print("False")
            return

    print("True")

number('0123456789')
number('01234')
number('01234567890')
number('6789012345')
number('012322456789')

True
False
False
True
False

## Q16. 모스 부호 해독
> 문자열 형식으로 입력받은 모스 부호(dot:. dash:-)를 해독하여 영어 문장으로 출력하는 프로그램을 작성하시오.

- 글자와 글자 사이는 공백 1개, 단어와 단어 사이는 공백 2개로 구분한다.
- 예를 들어 다음 모스 부호는 "HE SLEEPS EARLY"로 해석해야 한다.
```
.... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--
```
> 모스부호 규칙 표
```
문자 부호	문자   부호
A	 .-	    N	    -.
B	 -...	O	    ---
C	 -.-.	P	    .--.
D	 -..	Q	    --.-
E	 .	    R	    .-.
F	 ..-.	S	    ...
G	 --.	T	    -
H	 ....	U	    ..-
I	 ..	    V	    ...-
J	 .---	W	    .--
K	 -.-	X	    -..-
L	 .-..	Y	    -.--
M	 --	    Z	    --..
```

In [51]:
# [Q16] Code-1
dic = { 
    '.-':'A','-...':'B','-.-.':'C','-..':'D','.':'E','..-.':'F',
    '--.':'G','....':'H','..':'I','.---':'J','-.-':'K','.-..':'L',
    '--':'M','-.':'N','---':'O','.--.':'P','--.-':'Q','.-.':'R',
    '...':'S','-':'T','..-':'U','...-':'V','.--':'W','-..-':'X',
    '-.--':'Y','--..':'Z'
}

def morse(src):
  result = []
  for word in src.split("  "): # 공백 2개로 구분
    for char in word.split(" "): # 공백 1개로 구분
      result.append(dic[char])
    result.append(" ")
  return "".join(result)

print (morse('.... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--'))

HE SLEEPS EARLY

In [71]:
# [Q16] Code-2
dic = { 
    '':' ','.-':'A','-...':'B','-.-.':'C','-..':'D','.':'E','..-.':'F',
    '--.':'G','....':'H','..':'I','.---':'J','-.-':'K','.-..':'L',
    '--':'M','-.':'N','---':'O','.--.':'P','--.-':'Q','.-.':'R',
    '...':'S','-':'T','..-':'U','...-':'V','.--':'W','-..-':'X',
    '-.--':'Y','--..':'Z'
}
morse = ".... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--"
word = morse.split(" ")
for i in word:
    print(dic[i], end="")

HE SLEEPS EARLY



---

# 다음 정규식 문제는 기말고사 후에 도전해 보세요.

## Regular Expression
- import re

## Q17. 기초 메타 문자
> 다음 중 정규식 a[.]{3,}b과 매치되는 문자열은 무엇일까?


```
acccb
a....b
aaab
a.cccb
```

In [ ]:
# [Q17] Code

## Q18. 문자열 검색
> 다음 코드의 결괏값은 무엇일까?

```
>>> import re
>>> p = re.compile("[a-z]+")
>>> m = p.search("5 python")
>>> m.start() + m.end()
```

In [ ]:
# [Q18] Code

## Q19. 그루핑
> 다음과 같은 문자열에서 휴대폰 번호 뒷자리인 숫자 4개를 ####로 바꾸는 프로그램을 정규식을 사용하여 작성하시오.

```
park 010-9999-9988
kim 010-9909-7789
lee 010-8789-7768
```

In [ ]:
# [Q19] Code

## Q20. 전방 탐색
> 다음은 이메일 주소를 나타내는 정규식이다. 이 정규식은 park@naver.com, kim@daum.net, lee@myhome.co.kr 등과 매치된다. 긍정형 전방 탐색 기법을 사용하여 .com, .net이 아닌 이메일 주소는 제외시키는 정규식을 작성하시오.

```
.*[@].*[.].*$
```

In [ ]:
# [Q20] Code

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. github repo에 연습결과 노트를 올리시오.
        - 제출노트: ch8_exercises_id.ipynb