<a href="https://colab.research.google.com/github/hojoooon/py09/blob/master/mid_exam_py09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 파이썬 활용 중간고사 풀이

### 문제1. 다음 식의 연산 결과는?
            a = 5
            b = 3
            a**b

In [0]:
답은 125입니다. 왜냐하면 5**3은 5의 세제곱을 나타내는 코드이기 때문입니다.

## 문제2. 다음 문자열 a에 대하여 슬라이싱을 한 결과는? a="Life is too short, You need python!"
            a[-16:-8]

In [0]:
답은 'You need'입니다. [-16:-8] 은 뒤에서 16번째부터 뒤에서 8번째까지의 문자를 뜻하기 때문입니다.

### 문제3. 다음 list a의 인덱싱 결과는?
          a = [1,2, (3,4), ['a', 'b',['My', 'Life', 'Good']]]
          a[3][-1][0]

In [0]:
담은 'My' 입니다. a[3][-1][0]은 리스트a 의 3번째 요소에서 뒤에서 첫번째 요소, 그 안에서 첫번째 요소를 뜻하기 때문입니다.

### 문제4. 다음 tuple t1의 슬라이싱 결과는?
           t1 = (0, 1,"s", "t", "u")
           t1[2:-2]

In [0]:
답은 ('s')입니다. t1[2:-2]은 튜플 t1의 앞에서 세번째 요소부터 뒤에서 두번째 요소까지를 뜻하기 때문입니다.

### 문제5. 다음 bool 값 출력 중 정확한 것은?
    bool([0, 1, 2]), bool([0]), bool((0)), bool((0,))

In [0]:
답은 (True, True, False, True)입니다. 첫 번째와 두 번째 bool에서는 리스트안에 요소들이 있으므로 출력값이 True이고, 세 번째 bool에서는 튜플의 값이 0이기 때문에 출력값이 False입니다. 마지막 bool에서는 0뒤에 ,가 있기 때문에 요소가 있는 것을 뜻하므로 True입니다.

### 문제6. 다음 조건문을 1줄 코드로 변경하시오.
           score = 80
           if score >= 60:
              message = "success"
           else:
              message = "failure"

In [25]:
score = 80
message = "success" if score >= 60 else "failure"
print(message)

success

### 문제7. 다음 코드의 실행결과는?
    games = ['A', 'B', 'C']

    for cnt in range(len(games)):
        print(cnt, games[cnt], end='.')

In [26]:
답은 0 A.1 B.2 C.입니다. 값을 출력하고 뒤에 ,를 붙이기 때문입니다.

0 A.1 B.2 C.

### 문제 8. 다음의 결과가 출력되지 않는 것은? 'I ate 10 apples, so I was sick for three days.'
            
            # code start
            number = 10
            day = "three"
            _________________

In [27]:
number = 10
day = "three"
"I ate (0) apples, so I was sick for (1) days." format(number=10, day) #인덱스 항목과 format함수의 입력값이 매칭이 되지 않습니다.

SyntaxError: ignored

### 문제9. 리스트 내포를 사용해 1부터 1000이하의 자연수 중 5의 배수의 합을 구하는 한 줄 코드를 작성하시오
          5 + 10 + 15 + 20 + 25 +...+ 955 + 960 + 965 + 970 +...+ 975 +...+ 995 + 1000 = ?

In [28]:
sum([num for num in range(1,1001)if num %5==0])
                    #1부터 1000까지   #5의 배수

100500

### 문제10. 4개 과목의 평균 성적을 구하시오. [a], [b]에 적합한 코드는?
           subjects = ['python', 'english', 'math', 'science']
           scores = [88, 77, 66, 95]
           total = 0

           for subject, score in [a]_____(subjects, scores):
               total += score
               print(subject, score)

           print("평균점수 = (0)", format([b]_____)

In [30]:
subjects = ['python', 'english', 'math', 'science']
scores = [88, 77, 66, 95]
total = 0

for subject, score in zip(subjects, scores):
  total += score
  print(subject, score)

print("평균점수 = (0)", format(total/len(subjects)))

python 88
english 77
math 66
science 95
평균점수 = (0) 81.5